.photo-grid {
  margin: 118px 0 0;
}
.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;

  box-sizing: border-box;
}
.photo-grid__item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 90px 0 0;
  }
  .photo-grid__container {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__container {
    gap: 12px;
  }
}
